{% extends "base.html" %}

<!-- Page d'affichage de toutes les communautés-->
<!-- C'est aussi la page d'accueil-->

{% block header %}
<h1>Communautés</h1>
<span class="subheading">Liste des Communautés disponibles à l'ISAE, pour ne rien louper</span>
{% endblock %}


{% block content %}
<!-- Post preview-->
{% for communaute in list_communautes %}
<div class="communautes">
    <a href="{% url 'communaute' communaute.id %}">
        <h2 class="post-title">{{ communaute.nom }}</h2>
        <p class="post-meta">Nombre de posts : {{ communaute.nb_posts }}</p>

        {% if communaute.user_abonne %}
        <h3 class="post-subtitle">Vous êtes abonné</h3>
        <a href="{% url 'modifier_abonnement' communaute.id 0 %}">
            <button>Se désabonner</button>
        </a>
        {% else %}
        <h3 class="post-subtitle">Vous n'êtes pas abonné</h3>
        <a href="{% url 'modifier_abonnement' communaute.id 1 %}">
            <button>S'abonner</button>
        </a>
        {% endif %}
    </a>
</div>
<!-- Divider-->
<hr class="my-4"/>
{% empty %}
<div class="communautes">
    <h2 class="post-title"> Aucune communauté pour le moment </h2>
</div>
{% endfor %}
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'posts' %}"> Tous
    les Posts →</a></div>
{% endblock %}