<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communautes</title>
</head>
<body>
<h1>Voici la liste des Communautés existantes : </h1>
{% for communaute in list_communautes %}
    <div class="communautes">
            <p>{{ communaute.nom }}</p>
        {% if communaute.user_abonne %} Vous etes abonné
        {% else %} Pas encore abonné {% endif %}
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}

<a href="{% url 'logout' %}">
    <button>Déconnexion</button>
</a>
</body>
</html>