<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communautes</title>
</head>
<body>
<h1>Voici la liste des Communautés existantes : </h1>
{% for communaute in list_communautes %}
    <div class="communautes">
            <p>{{ communaute.nom }}</p>
        {% if communaute.user_abonne %} Vous etes abonné
        <a href="{% url 'logout' communaute request.user communaute.user_abonne %}">
            <button>Se désabonner</button>
        </a>
        {% else %} Pas encore abonné
         <a href="{% url 'logout' %}">
            <button>S'abonner</button>
        </a>
        {% endif %}
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}

<a href="{% url 'logout' %}">
    <button>Déconnexion</button>
</a>
</body>
</html>