{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Nouveau Poste</title>
</head>
<body>

<h1> Création d'un nouveau poste </h1>

{% if sauvegarde %}
 <p>Ce nouveau post a bien été enregistré.
 {{new_post.id}}</p>
{% endif %}

<p>
 <form method="post" action="{% url 'nouveau_post' %}">
 {% csrf_token %}
 {{ form.as_p }}
 <input type="submit"/>
 </form>


<a href="{% url 'communautes' %}">
    <button>Retour à la page de la Communauté </button>
</a>
</body>
</html>


{% endblock %}