{% extends "base.html" %}

<!-- Page d'affichage des tous les posts appartenant aux communautés d'abonnement-->
{% block header %}
<h1>Tous les posts</h1>
<span class="subheading">Ne ratez rien !</span>
{% endblock %}


{% block content %}
<!-- Post preview-->
{% for post in list_posts %}
<div class="posts">
    <a href="{% url 'post' post.id %}">
        <h2 style="background-color:{{post.prio_color}}" class="post-title">{{ post.titre }}</h2>
        <h3 class="post-subtitle">{{ post.description }}</h3>
    </a>
    </a>
    <h4 class="post-meta">
        in <a href="{% url 'communaute' post.communaute.id %}"">{{post.communaute}}</a>
    </h4>
    <p class="post-meta">
        Posted by <comment_auteur_date>
        {{ post.auteur }}</comment_auteur_date>
        on <comment_auteur_date>{{ post.date_creation}}</comment_auteur_date> <i class="fas fa-comment"></i> {{post.nb_comments}}</p>
    <p class="post-meta">
        {% if post.evenementiel %} Événement qui aura lieu le <p_date>{{post.date_evenement}}</p_date>
        {% endif %}
    </p>

</div>
<!-- Divider-->
<hr class="my-4"/>
{% empty %}
<div class="posts">
    <h2 class="post-title"> Aucun post pour le moment </h2>
</div>
{% endfor %}
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'nouveau_post' %}">
    Nouveau Post →</a></div>

{% endblock %}