{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>{{ mon_post.titre }}</title>
</head>
<body>

<h1> Détails sur le poste : {{mon_post.titre}}</h1>
<h2>{{ mon_post.description }}</h2>
    <div class="commentaires">
        <h3> Commentaires </h3>
{% for commentaire in commentaires %}
        <h4>Par {{ commentaire.auteur }}, le {{commentaire.date_creation}}</h4>
        <p> {{commentaire.contenu}}</p>
{% empty %}
    <p>Aucun commentaire.</p>
{% endfor %}
            </div>

{% if sauvegarde %}
 <p>Ce commentaire a bien été enregistré.</p>
{% endif %}

<p>
 <form method="post" action="{% url 'post' post_id %}">
 {% csrf_token %}
 {{ form.as_p }}
 <input type="submit"/>
 </form>

<a href="{% url 'modif_post' post_id %}">
    <button> Modifier le post </button>
</a>

<a href="{% url 'communautes' %}">
    <button>Retour à la page de la Communauté </button>
</a>

<a href="{% url 'posts' %}">
    <button>Retour à liste de tous les Posts </button>
</a>
</body>
</html>


{% endblock %}