{% extends "base.html" %}

{% block content %}

<!-- Page Header-->
        {% load static %}
        <header class="masthead" style="background-image: url("../img/avion.jpg")">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Tous les posts</h1>
                            <span class="subheading">Ne ratez rien !</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in list_posts %}
                    <div class="posts">
                        <a href="{% url 'post' post.id %}">
                            <h2 class="post-title">{{ post.titre }}</h2>
                            <h3 class="post-subtitle">{{ post.description }}</h3>
                            </a>
                        </a>
                        <h4 class="post-meta">
                            in <a href="{% url 'communaute' post.communaute.id %}"">{{post.communaute}}</a>
                        </h4>
                        <p class="post-meta">
                            Posted by
                            {{ post.auteur }}
                            on {{ post.date_creation}}</p>
                            <p class="post-meta">
                            {% if post.evenementiel %} Événement qui aura lieu le {{post.date_evenement}}
                         {% endif %}
                        </p>

                    </div>
                     <!-- Divider-->
                    <hr class="my-4" />
                    {% empty %}
                        <div class="posts">
                            <h2 class="post-title"> Aucun post pour le moment </h2>
                        </div>
                    {% endfor %}


                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'nouveau_post' %}"> Nouveau Post →</a></div>
                </div>
            </div>
        </div>

{% endblock %}